@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

:root{
  --text: #FFFFFF;
  --stroke: rgba(255, 255, 255, 0.5); 
  --surface: rgba(255, 255, 255, 0.1);
  --surface-hover: rgba(255, 255, 255, 0.05);
  --highlight: rgba(255, 255, 255, 0.2);
  --bg: url(../images/bg-mobile.jpg);

  /*
  --text-light-mode: #000000;
  --stroke-light-mode: rgba(0, 0, 0, 0.5); 
  --surface-light-mode: rgba(0, 0, 0, 0.05);
  --surface-light-mode-hover: rgba(0, 0, 0, 0.02);
  --highlight-light-mode: rgba(0, 0, 0, 0.1);
  */
}

.light{
  --text: #000000;
  --stroke: rgba(0, 0, 0, 0.5); 
  --surface: rgba(0, 0, 0, 0.05);
  --surface-hover: rgba(0, 0, 0, 0.02);
  --highlight: rgba(0, 0, 0, 0.1);
  --bg: url(../images/bg-mobile-light.jpg);
}

* {
  font-family: 'Inter';
  color: var(--text);
}

body{
  padding-top: 56px;
  background: no-repeat var(--bg) top center/cover;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile{
  padding: 24px 0px 24px 0px;
}

p.dark{
  color: var(--text);
}

img {
  width: 112px;
  height: 112px;

  border: 1px solid var(--stroke);
  border-radius: 100%;

  margin-bottom: 8px;
}

.switch-bar{
  width: 64px;
  height: 24px;

  background-color: var(--surface);
  border: 1px solid var(--stroke);
  border-radius: 2000px;

  position: relative;

  display: flex;
  align-items: center;

}

.switch-btn{
  width: 32px;
  height: 32px;

  background-color: #FFFFFF;
  color: black;

  border: 1px solid #FFFFFF;
  border-radius: 100%;

  position: absolute;
  top: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translate(0%, -50%);

  cursor: pointer;

  transition: .4s;
}

.switch-btn.dark{
  left: 0;
}

.switch-btn.light{
  left: 32px;
}

.switch-btn:hover,
.switch-btn:active{
  outline: 8px solid var(--highlight);
}

.switch-btn i{
  color: black;
  font-size: 20px;
}

.links{
  padding: 24px 24px 24px 24px;
}

button{
  width: 100%;

  border: 1px solid var(--stroke);
  border-radius: 8px;

  background-color: var(--surface);

  color: var(--text);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  padding: 16px 24px 16px 24px;

  cursor: pointer;

  transition: .1s;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

button:hover,
button:active{
  border: 1px solid var(--text);
  background-color: var(--surface-hover);
}


button:nth-child(n+2){
  margin-top: 16px;
}

.social-links{
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 24px 24px;
}

.social{
  width: 40px; 
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  transition: .1s;

  text-decoration: none;
}

.social:nth-child(n+2){
    margin-left: 16px;
}

.social:active,
.social:hover{
  background-color: var(--highlight);
}

.social i{
  font-size: 24px;
  color: var(--text);
}